# DATA SCIENCE MAJOR PROJECT

Dataset : LetterRecognition

for given,

Input values : x.box, y.box, width, high, onpix, x.bar, y.bar, x2bar, y2bar, xybar, x2ybr, xy2br, x.ege, xegvy, y.ege, yegvx

Model predicts the,

Output value : lettr (Corresponding Alphabet)

# 1. Consider Dataset and Create Dataframe

In [64]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/sinchana-P/letter_recognition/main/LetterRecognition.csv')
df

,lettr,x.box,y.box,width,high,onpix,x.bar,y.bar,x2bar,y2bar,xybar,x2ybr,xy2br,x.ege,xegvy,y.ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,D,2,2,3,3,2,7,7,7,6,6,6,4,2,8,3,7
19996,C,7,10,8,8,4,4,8,6,9,12,9,13,2,9,3,7
19997,T,6,9,6,7,5,6,11,3,7,11,9,5,2,12,2,4
19998,S,2,3,4,2,1,8,7,2,6,10,6,8,1,9,5,8
19999,A,4,9,6,6,2,9,5,3,1,8,1,8,2,7,2,8

# 2. EDA

In [65]:
type(df)

pandas.core.frame.DataFrame

In [66]:
df.lettr.value_counts()

U    813
D    805
P    803
T    796
M    792
A    789
X    787
Y    786
N    783
Q    783
F    775
G    773
E    768
B    766
V    764
L    761
R    758
I    755
O    753
W    752
S    748
J    747
K    739
C    736
H    734
Z    734
Name: lettr, dtype: int64

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   lettr   20000 non-null  object
 1   x.box   20000 non-null  int64
 2   y.box   20000 non-null  int64
 3   width   20000 non-null  int64
 4   high    20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   x.bar   20000 non-null  int64
 7   y.bar   20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybr   20000 non-null  int64
 12  xy2br   20000 non-null  int64
 13  x.ege   20000 non-null  int64
 14  xegvy   20000 non-null  int64
 15  y.ege   20000 non-null  int64
 16  yegvx   20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [68]:
df.shape

(20000, 17)

In [69]:
df.size

340000

In [70]:
df.head(2)

,lettr,x.box,y.box,width,high,onpix,x.bar,y.bar,x2bar,y2bar,xybar,x2ybr,xy2br,x.ege,xegvy,y.ege,yegvx
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10

# 4. Divide the data into input and output

In [71]:
x = df.iloc[:,1:17].values
x

array([[ 2,  8,  3, ...,  8,  0,  8],
       [ 5, 12,  3, ...,  8,  4, 10],
       [ 4, 11,  6, ...,  7,  3,  9],
       ...,
       [ 6,  9,  6, ..., 12,  2,  4],
       [ 2,  3,  4, ...,  9,  5,  8],
       [ 4,  9,  6, ...,  7,  2,  8]])

In [72]:
y = df.iloc[:,0].values
y

array(['T', 'I', 'D', ..., 'T', 'S', 'A'], dtype=object)

# 5. Train and Test variables

In [73]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 0)

In [74]:
print(x.shape) 
print(x_train.shape) 
print(x_test.shape)

(20000, 16)
(15000, 16)
(5000, 16)

In [75]:
print(y.shape) 
print(y_train.shape) 
print(y_test.shape)

(20000,)
(15000,)
(5000,)

# 7. Apply Regressor

In [76]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

# 8. Fitting the model

In [77]:
model.fit(x_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

# 9. Predict the output

In [78]:
y_pred = model.predict(x_test)
y_pred

array(['Y', 'S', 'K', ..., 'V', 'U', 'M'], dtype=object)

In [79]:
y_test

array(['Y', 'B', 'K', ..., 'V', 'U', 'U'], dtype=object)

# 10. Accuracy

In [80]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)*100

76.9

*Individual Prediction*

In [81]:
model.predict([[5, 12, 3, 7, 2, 10, 5, 5, 4, 13, 3, 9, 2, 8, 4, 10]])

array(['I'], dtype=object)

In [82]:
model.predict([[2, 1, 3, 1, 1, 8, 6, 6, 6, 6, 5, 9, 1, 7, 5, 10]])

array(['G'], dtype=object)

In [83]:
model.predict([[2, 3, 4, 2, 1, 8, 7, 2, 6, 10, 6, 8, 1, 9, 5, 8]])

array(['S'], dtype=object)

In [84]:
model.predict([[3, 6, 4, 4, 2, 4, 14, 8, 1, 11, 6, 3, 0, 10, 4, 8]])

array(['P'], dtype=object)

***ACCURACY : 76.9%***